# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
env/
.env

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite3

# ML Model (too large for GitHub)
*.pt
*.onnx
*.bin
*.engine

# Node / React
node_modules/
frontend/build/
frontend/.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/